<!-- <html>
    <head>
        <title>TWEETS</title>
    </head>
    <body>
        <div>
            Drew's Tweets:
            <a href="{{ url_for('index') }}">REGENERATE</a>
        </div>
        <div>
            <h1>
                {{ words }}
            </h1>
        </div>
    </body>
</html> -->
{% extends "bootstrap/base.html" %}
{% block title %}Drew's Tweets{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <h1>
      <a class="nav-item nav-link active" href="{{ url_for('index') }}">Regenerate <span class="sr-only">(current)</span></a>
      </h1
    </div>
  </div>
  <br>

<!-- <div class="navbar navbar-fixed-top">
  <a class="navbar-brand" href="{{ url_for('index') }}">REGENERATE</a>
</div> -->
{% endblock %}

{% block content %}
  <h1>{{ words }}</h1>
{% endblock %}
